<div class="container d-flex justify-content-center align-items-start">
    <div class="text-left">
        <h1 class="page-header">Dashboard</h1>
        <p>Welcome <%= data %></p>
        <% allSessions.forEach(session => { %>
            <div>Session ID: <%= session.session %></div>
            <div>UserID: <%= session.id %></div>
            <a href="/revoke-session/<%= session.session %>">Revoke Session</a>
            <hr>
        <% }) %>
        <p><%= message%></p>
    </div>
</div>
