<div class="container d-flex justify-content-center align-items-start">
    <div class="text-left">
        <h1 class="page-header">Dashboard</h1>
        <p>Welcome <%= data %></p>
        <p>
            <div><%= session.user %></div>
            <!-- Display details of each session -->
            <% allSessions.forEach(session => { %>
                <div>Session ID: <%= session.session %></div>
                <div>UserID: <%= session.id %></div>
                <a href="/revoke-session/<%= session.session %>">Revoke Session</a>


                <!-- Add other session details as needed -->
                <hr> <!-- Separate each session's details -->
            <% }) %>
        </p>
    </div>
</div>
