<div class="container d-flex justify-content-center align-items-start">
    <div class="text-left">
        <h1 class="page-header">Dashboard</h1>
        <p>Welcome <%= data %></p>
        <% keys.forEach(key => { %>
            <div>Session ID: <%= key %></div>
            <div>UserID: <%= sessions[key].passport.user %></div>
            <a href="/revoke-session/<%= key %>">Revoke Session</a>
            <hr>
        <% }) %>
        <p><%= message %></p>
    </div>
</div>
